@model CovidNews.Models.ViewModels.ShowArticle
<head>
    <link rel="stylesheet" href="~/Content/Articles/details.css">
    <link rel="stylesheet" href="~/Content/Site.css">
</head>


<h2>@Html.DisplayFor(model => model.article.ArticleName)</h2>

<div>
    <hr />
    @{
        //Use server rendering to determine an image
        string pic = "/Content/Articles/globe.jpg";
        string alt = "No Picture Provided.";
        if (Model.article.ArticleHasPic)
        {
            pic = "/Content/Articles/" + Model.article.ArticleID + "." + Model.article.PicExtension;
            alt = "Profile shot of " + Model.article.ArticleName;
        }
    }
    <div class="detailsImg">
        <img src="@pic" alt="@alt" />
    </div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.article.ArticleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.article.ArticleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.article.Publisher)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.article.Publisher)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.country.CountryName)
        </dt>
        <dd>
            @Html.ActionLink(Model.country.CountryName, "Details", "Country", new { id = Model.country.CountryID }, new { })
        </dd>

    </dl>
</div>
<div class="options">
    <div class="editlink">@Html.ActionLink("Delete", "DeleteConfirm", new { id = Model.article.ArticleID })</div>
    <span class="editlink backTwo"> @Html.ActionLink("Edit", "Edit", new { id = Model.article.ArticleID }) </span>
    <span class="editlink backOne"> @Html.ActionLink("Back to List", "List")</span>
</div>