@model IEnumerable<CovidNews.Models.ArticleDto>
<head>
    <link rel="stylesheet" href="~/Content/Articles/articles.css">
    <link rel="stylesheet" href="~/Content/Site.css">
</head>
@{
    ViewBag.Title = "View";
}
<div id="topBanner">
    <h2 class="water">Breaking Covid News</h2>
    <video autoplay muted loop id="myVideo">
        <source src="~/Content/Articles/virusVideo.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>

</div>

<div class="record-container">
   @foreach (var article in Model)
    {

                <div class="record">
                    <div class="_record">
                        @{
                            //Use server rendering to determine an image
                            string pic = "/Content/Articles/globe.jpg";
                            string alt = "No Picture Provided.";
                            if (article.ArticleHasPic)
                            {
                                pic = "/Content/Articles/" + article.ArticleID + "." + article.PicExtension;
                                alt = "Picture of " + article.ArticleName;
                            }
                        }
                        <div class="contain">
                            <img src="@pic" alt="@alt" />
                        </div>
                        <div class="recordtitle">
                            <h1>@article.Publisher </h1>
                            @article.ArticleName
                            @article.PicExtension
                        </div>
                        <div class="linknav">
                            <span class="editlink">@Html.ActionLink("Details", "Details", new { id = article.ArticleID })</span>
                            <span class="editlink">@Html.ActionLink("Delete", "DeleteConfirm", new { id = article.ArticleID })</span>
                        </div>

                    </div>
                </div>
                }
<div class="record _record" id="createNew">
    <h3>@Html.ActionLink("Create New", "Create")</h3>
</div>
            </div>