@model IEnumerable<CovidNews.Models.VariantDto>

<head>
    <link rel="stylesheet" href="~/Content/Articles/create.css">
    <link rel="stylesheet" href="~/Content/Site.css">
</head>

<h2>COVID Variants</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VariantName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.VariantName)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.VariantID }) |
                @Html.ActionLink("Details", "Details", new { id = item.VariantID })

            </td>
        </tr>
    }

</table>