@model CovidNews.Models.ViewModels.ShowCountry

<head>
    <link rel="stylesheet" href="~/Content/Countries/cList.css">
    <link rel="stylesheet" href="~/Content/Site.css">
</head>

<h2>@Model.country.CountryName</h2>
<div>
    <div>

        <dl class="dl-horizontal marginz">
            <dt>
                @Html.DisplayNameFor(model => model.country.Population)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.country.Population)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.country.Infected)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.country.Infected)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.country.Vaccinated)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.country.Vaccinated)
            </dd>

        </dl>
    </div>
    <div>
        <div>
            <h3>Articles:</h3>
            <div>
                @foreach (var article in Model.Countryarticles)
                {
                    <div>
                        @Html.ActionLink(
                        article.ArticleName,
                        "Details",
                        "Article",
                        new { id = article.ArticleID },
                        new { })
                    </div>
                }
            </div>
        </div>
        <div>
            <h3 id="variants">Variants:</h3>
            <div>
                @foreach (var variant in Model.Countryvariants)
                {
                    <div>
                        @Html.ActionLink(
                        variant.VariantName,
                        "Details",
                        "Variant",
                        new { id = variant.VariantID },
                        new { })
                    </div>
                }
            </div>
        </div>
    </div>
    <div style="clear:both;"></div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.country.CountryID }) |
    @Html.ActionLink("Back to List", "List")

    <div>@Html.ActionLink("Delete", "DeleteConfirm", new { id = Model.country.CountryID })</div>
</p>